@import url(./reset.css);

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #00A1FC 0%, #054C74 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 20px;
}