<template>
    <div class="app-body">
        <div class="app-initial-body">
            <form class="find-a-dog-form" @submit.prevent="formRequest">
                <label for="find-a-dog" class="fw-900">Find a Dog</label>
                <input type="text" name="find-a-dog" id="find-a-dog" v-model="inputText" required placeholder="Enter Breed Name">
                <button type="submit">Go</button>
            </form>

            <div v-if="results.length">
                <p class="fw-900"><strong>Results</strong></p>
                <ul v-if="results.length" class="results-list">
                    <li v-for="result in results" :key="result.id">
                        <a href="javascript:void(0);" @click="getSelectedResultImages(result)">{{ result.formattedName }}</a>
                    </li>
                </ul>
            </div>
            
            <p v-if="hasBeenSearched && fullResultsList.length && !results.length">Error: No dogs found</p>
        </div>
        
        <div class="modal" v-if="null !== selectedResult">
            <button type="button" @click="closeModal">X</button>
            <p class="fw-900"><strong>Results</strong></p>
            <!-- Dog Breed Name -->
            <p class="breed-name">{{ selectedResult.formattedName }}</p> 
            <Splide :options="{ rewind: true, arrows: false }" v-if="imageList.length">
                <SplideSlide v-for="image in imageList" :key="image">
                    <img :src="image">
                </SplideSlide>
            </Splide>
        </div>
        
    </div>
</template>

<script>
// import axios library
import axios from 'axios';
import { Splide, SplideSlide } from '@splidejs/vue-splide';
import '@splidejs/splide/dist/css/splide.min.css';

export default {
    name: 'FormComponent',
    data() {
        return {
            inputText: '',
            hasBeenSearched: false,
            results: [],
            formResponse: null,
            fullResultsList: [],
            showModal: false,
            selectedResult: null,
            imageList: [],
        }
    },
     components: {
        Splide,
        SplideSlide,
    },
    methods: {
        // handle initial request
        formRequest: function(){
            if ( null === this.formResponse ){
                axios.get('https://dog.ceo/api/breeds/list/all')
                    .then(response => ( 
                        this.formResponse = response.data.message,
                        this.formatResults(),
                        this.searchResults()
                    ))
            }
            this.searchResults();
        },
        formatResults: function(){
            for ( const breed in this.formResponse ){
                // check if breed has sub-types
                if ( this.formResponse[breed].length > 0 ){
                    for ( const subBreed of this.formResponse[breed] ){
                        this.fullResultsList.push({
                            formattedName: `${this.capitalizeName(subBreed)} ${this.capitalizeName(breed)}`,
                            name: `${subBreed}-${breed}`,
                            id: `${breed}-${subBreed}`
                        })
                    }
                } else {
                    this.fullResultsList.push({
                        formattedName: this.capitalizeName(breed),
                        name: breed,
                        id: breed
                    });
                }
            }
        },
        searchResults: function(){
            let that = this;
            this.results = this.fullResultsList.filter( breed => breed.name.includes(that.inputText.toLowerCase() ));
            this.hasBeenSearched = true;
        },
        capitalizeName: function(string){
            return string.charAt(0).toUpperCase() + string.slice(1);
        },
        getSelectedResultImages: function(result) {
            this.resetSelectedResult();
            this.selectedResult = result;
            axios.get(`https://dog.ceo/api/breed/${this.selectedResult.id}/images`)
                .then(response => ( 
                    this.imageList = Object.values(response.data.message.slice(0,3))
                ))
        },
        closeModal: function(){
            this.resetSelectedResult();
        },
        resetSelectedResult: function() {
            this.imageList = [];
            this.selectedResult = null;
        }
    }
}
</script>

<style>
.find-a-dog-form {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    margin: 1rem auto;
}

label {
    font-weight: 900;
    margin-bottom: 1rem;
}

input {
    width: 280px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    font-size: 1.25rem;
    padding: 0 0.5rem;
}

button[type="submit"] {
    background: #FFCB05;
    border-radius: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #BF3636;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    width: 100px;
    padding: 0.5rem;
    margin: 1rem auto;
}

ul.results-list {
    text-align: left;
    list-style-type: disc;
    margin-top: 1rem;
    padding-left: 1.5rem
}

ul.results-list a {
    color: #fff;
}

ul.results-list li {
    line-height: 2.5;
}

.fw-900 {
    font-weight: 900;
}

.app-body {
    position: relative;
    z-index: 1;
}

.app-initial-body {
    position: relative;
    z-index: 1;
}

.modal {
    position: absolute;
    z-index: 4;
    max-width: 280px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #FFCB05;
    border: 4px solid #FFCB05;
    box-sizing: border-box;
    color: #BF3636;
    top: 1rem;
    padding: 1rem;
}

.modal button {
    background: none;
    color: #BF3636;
    margin-left: auto;
    margin-right: 0;
    border: none;
    outline: none;
    text-align: right;
    display: block;
}

.modal .fw-900 {
    text-align: left;
    margin-right: auto;
    margin-left: 0;
}

.modal .breed-name {
    margin: 1rem;
}

.splide {
    padding-bottom: 2rem;
}

.splide__slide img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

</style>