<template>
  <img alt="dog api logo" src="./assets/dog-api-logo.svg">
  <form-component></form-component>
</template>

<script>
import FormComponent from './components/formComponent.vue'

export default {
  name: 'App',
  components: {
    FormComponent
  }
}
</script>

<style>
#app {
 color: #ffffff;   
 font-family: 'Roboto', sans-serif;
 display: flex;
 padding: 1rem;
 text-align: center;
 align-items: center;
 flex-direction: column;
 flex: 1;

}
</style>
